.Page1 {
    background: #000C24;
    min-height: 100vh;
}

.Page1 p {
    color: white;
    font-size: 1.8rem;
    align-items: center;
    font-weight: normal;
    font-family: 'century gothic';
    padding-left: 40px;
    padding-top: 20px;
}