.Page1 {
    /* display: flex; */
    align-items: flex-start;
    background: #000C24;
    min-height: 100vh;
    justify-content: flex-start;
    padding-right: 40px;
}

/* app-text-page1-component {
    flex-grow: 1;
    margin-right: 40px;
}

app-image-page1-component {
    flex-shrink: 0;
    margin-top: 100px;
} */