<div class="CardPage">
    <div class="CardContainer">
        <div class="CardSingle" (click)="irAPage1()">
            <img src="https://cms.vbetftn.com//storage/medias/vbet-crypto-ua-18749451/content_18749451_f976e4b2ddc1ac5fc1fe54570641af07.jpeg" alt="Imagen 1">
            <div class="CardShadow">
                <span class="SobreTexto">PÁGINA 1</span>
            </div>
        </div>
        <img src="https://cms.vbetftn.com//storage/medias/vbet-crypto-ua-18749451/content_18749451_c8b7cf6efc4c385055d806ed17745f88.png" alt="Imagen 1" style="cursor: pointer;" (click)="irAPage1()" >
        <img src="https://cms.vbetftn.com//storage/medias/vbet-crypto-ua-18749451/content_18749451_f976e4b2ddc1ac5fc1fe54570641af07.jpeg" alt="Imagen 1" style="cursor: pointer;" (click)="irAPage1()">
        <img src="https://cms.vbetftn.com//storage/medias/vbet-crypto-ua-18749451/content_18749451_fd3293ab1b0f478fff62545c556988d6.jpeg" alt="Imagen 1" style="cursor: pointer;" (click)="irAPage1()">
        <img src="https://cms.vbetftn.com//storage/medias/vbet-crypto-ua-18749451/content_18749451_160e29d0bb0b368e6e75d9b426a09f07.jpeg" alt="Imagen 1" style="cursor: pointer;" (click)="irAPage1()">

        <img src="https://cms.vbetftn.com//storage/medias/vbet-crypto-ua-18749451/content_18749451_76951da8cc63eff28412daade1a89051.jpeg" alt="Imagen 1" style="cursor: pointer;" (click)="irAPage1()">
        <img src="https://cms.vbetftn.com//storage/medias/vbet-crypto-ua-18749451/content_18749451_cf2cca5747cb766a7a7875efd38ae73b.png" alt="Imagen 1" style="cursor: pointer;" (click)="irAPage1()">
        <img src="https://cms.vbetftn.com//storage/medias/vbet-crypto-ua-18749451/content_18749451_268deed405ed2acd88feeaef60e104ce.jpeg" alt="Imagen 1" style="cursor: pointer;" (click)="irAPage1()">
        <img src="https://cms.vbetftn.com//storage/medias/vbet-crypto-ua-18749451/content_18749451_83967e24451fe33b2fe880998e7dbcbe.jpeg" alt="Imagen 1" style="cursor: pointer;" (click)="irAPage1()">
        <img src="https://cms.vbetftn.com//storage/medias/vbet-crypto-ua-18749451/content_18749451_2792fbd71d9856a4412696fc3e4bfd16.jpeg" alt="Imagen 1" style="cursor: pointer;" (click)="irAPage1()">

        <img src="https://cms.vbetftn.com//storage/medias/vbet-crypto-ua-18749451/content_18749451_8152a9261670c239c32a9d4a460bd764.jpeg" alt="Imagen 1" style="cursor: pointer;" (click)="irAPage1()">
        <img src="https://cms.vbetftn.com//storage/medias/vbet-crypto-ua-18749451/content_18749451_0d9031cc47ab32ce1978098a277d6c9e.jpeg" alt="Imagen 1" style="cursor: pointer;" (click)="irAPage1()">
        <img src="https://cms.vbetftn.com//storage/medias/vbet-crypto-ua-18749451/content_18749451_054a645481a011f0710f3be066109345.jpeg" alt="Imagen 1" style="cursor: pointer;" (click)="irAPage1()">
        <img src="https://cms.vbetftn.com//storage/medias/vbet-crypto-ua-18749451/content_18749451_043d5ef3addcaea134b2b65eafbb3711.png" alt="Imagen 1" style="cursor: pointer;" (click)="irAPage1()">
        <img src="https://cms.vbetftn.com//storage/medias/vbet-crypto-ua-18749451/content_18749451_22dad9b537ccc4b3c73ae33a32d3207d.jpeg" alt="Imagen 1" style="cursor: pointer;" (click)="irAPage1()">

        <img src="https://cms.vbetftn.com//storage/medias/vbet-crypto-ua-18749451/content_18749451_e931bab80ae1829b4527e0f45b212e93.jpeg" alt="Imagen 1" style="cursor: pointer;" (click)="irAPage1()">
        <img src="https://cms.vbetftn.com//storage/medias/vbet-crypto-ua-18749451/content_18749451_8424e84acc958d638e2eb04ce8231c57.jpeg" alt="Imagen 1" style="cursor: pointer;" (click)="irAPage1()">
        <img src="https://cms.vbetftn.com//storage/medias/vbet-crypto-ua-18749451/content_18749451_a93f4764486142acfade58d50a418646.jpeg" alt="Imagen 1" style="cursor: pointer;" (click)="irAPage1()">
    </div>
</div>