.CardPage {
    margin: 0px auto;
    padding: 0 15px;
    box-sizing: border-box;
    border-radius: 8px;
    overflow: hidden;
}

.CardContainer {
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    gap: 15px;
    padding: 15px;
}

.CardContainer img {
    width: calc((100% - 60px) / 5);
    height: 180px; 
    flex-shrink: 0;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
