<div class="CardPage">
    <div class="CardContainer">
        <img src="https://cms.vbetftn.com//storage/medias/vbet-crypto-ua-18749451/content_18749451_f976e4b2ddc1ac5fc1fe54570641af07.jpeg" alt="">
        <img src="https://cms.vbetftn.com//storage/medias/vbet-crypto-ua-18749451/content_18749451_c8b7cf6efc4c385055d806ed17745f88.png" alt="">
        <img src="https://cms.vbetftn.com//storage/medias/vbet-crypto-ua-18749451/content_18749451_f976e4b2ddc1ac5fc1fe54570641af07.jpeg" alt="">
        <img src="https://cms.vbetftn.com//storage/medias/vbet-crypto-ua-18749451/content_18749451_fd3293ab1b0f478fff62545c556988d6.jpeg" alt="">
        <img src="https://cms.vbetftn.com//storage/medias/vbet-crypto-ua-18749451/content_18749451_160e29d0bb0b368e6e75d9b426a09f07.jpeg" alt="">
    </div>
</div>