<div class="Page1Container">
  <div class="Page1Tittle">
  <span class="BackArrow" (click)="irAHome()">&#8592;</span>
  <h3>PÁGINA 1</h3>
  </div>

  <div class="Page1Text">
    <div class="Text1Page1">
      <p>Oportunidades de ganar en VbetFTN!</p>
      <p>A partir de ahora, juegue en VbetFTN y obtenga puntos de fidelización en forma de XP</p>
      <p>1 XP = 1 Punto de fidelización</p>
    </div>
    <div class="ButtonContainer">
      <button class="FidelizacionButton">CONSULTAR PUNTOS DE FIDELIZACIÓN</button>
    </div>

    <div class="Text1Page1">
      <p>Cuanto más juegue, más XP generará y mayor será su bonificación</p>
      <p>¡Desbloquee logros, alcance nuevos niveles y obtenga recompensas!</p>
      <p>Dependiendo de su logro, recibirá un porcentaje diferente de reembolso de tragamonedas</p>
    </div>
    <div class="ButtonContainer">
      <button class="FidelizacionButton">JUGAR AHORA</button>
    </div>

    <div class="SubtittlePage1">¿Cómo funcionan los XP?</div>
    <ul class="Text1Page1">
      <li>Puede desbloquear nuevos logros jugando en VbetFTN.</li>
      <li>Cada logro consta de niveles.</li>
      <li>Cada vez que desbloquea un logro, obtiene nuevas bonitificaciones y premios en efectivo.</li>
      <li>Cada vez que desbloquea un nivel, obtiene más bonificaciones por subir de nivel.</li>
      <li>Puede obtener XPs para juegos de casino en vivo, tragamonedas, juegos de apuestas y apuestas deportivas.</li>
      <li>La cuota mínima para cualquier apuesta deportiva es de 13 o más.</li>
    </ul>
  </div>
</div>